uvicorn
beautifulsoup4
fastapi
groq
gspread
numpy<2
protobuf
pydantic
python-dotenv
requests
sentence-transformers
spacy
trafilatura
lxml_html_clean
transformers
validators
google-auth

--extra-index-url https://download.pytorch.org/whl/cpu
torch
